---
layout: master
title: How do OneRoom classes work?
---

{% include smallheader.html %}

<header>
  <div class="link">
  </div>
  <div class="bt bw3 b--green center mw-fill-l phm phl-ns pvl bg-cv" style="background-image:url(img/writers_header.jpg);background-position: center top;">
    <h1 class="f1 fw7 white tc pvn">How do OneRoom classes work?</h1>
    <hr style="height:0;background:rgba(0,0,0,.1);border:0;" class="mw7 mvn">
  </div>
</header>

{% include howitworks.html %}

<section class="bg-aqua-light tc center">
  <div class="phm phl-ns lh-copy f4 ptm pbl br3">
    <p class="f4 f3-ns tc fw1 lh-copy mbn">Find a class now:</p>
    <div class="tc pam">
      <a class="btn btn--blue pal br3" href="https://www.joinoneroom.com/">Browse the class catalog</a>
    </div>
</section>
