---
layout: master
---
{% include smallheader.html %}

<header>
  <div class="link">
  </div>
  <div class="bt bw3 b--green center mw-fill-l phm phl-ns pbl bg-cv" style="background-image:url(img/header.jpg);background-position: center top;">
    <h2 class="mtn f1 mega-ns fw7 white tc ptn mtl mbm">Online Learning, Humanized</h2>
    <p class="white f3 mw7 mbl center">The best way to learn anything is with other humans. OneRoom makes that possible online - finally. Meet face-to-face and learn together in video classrooms you can access from anywhere.</p>
    <div class="cf mw-100 mw6-ns center">
      <div class="video-wrapper">
        <iframe width="552" height="414" src="https://www.youtube.com/embed/mdGHr765KfE?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</header>

    <main>
      <section class="mvxl mhm">
        <h2 class="mw-75-ns center f3 fw7 tc dark-blue mbl">OneRoom connects people who are interested in learning the same stuff.</h2>
        <div class="tc">
          <img src="img/what-is-oneroom.png" style="max-width: 856px;" />
        </div>
      </section>

      <section class="mvxl mhm">
        <h2 class="mw-75-ns center f3 fw7 tc dark-blue mbl">Sessions usually go something like this.</h2>
        <div class="tc">
          <img src="img/typical-class.png" style="max-width: 833px;" />
          <h4 class="light-silver fw4 mtl">(Sessions are 20 to 45 minutes long)</h4>
        </div>
      </section>

      <section class="mbl mtxl mhm">
        <h2 class="mw-75-ns center f3 fw7 tc dark-blue mbl">Connect with people from anywhere in the world who are passionate about the same topics.</h2>
        <div class="tc">
          <img src="img/class-location.png" style="max-width: 650px;" />
        </div>
      </section>

      <section class="bg-lightest-gray tc center pvl phm">
        <div class="cf mw-100 mw8-ns center">
          <h3 class="f1 tc fw4 silver">Featured Classes</h3>
          {% for course in site.data.courses %}
            <div class="wi-100 wi5-ns fl mlx-ns">
              {% include coursecard.html %}
            </div>
          {% endfor %}
        </div>
        <div class="tc pam mts">
          <a class="btn btn--blue pal br3" href="http://app.joinoneroom.com/course">Browse all classes</a>
        </div>
      </section>
    </main>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));
      var $mcj = jQuery.noConflict(true);
    </script>
