<a href="#">
  <div class="class-card">
    <div class="class-image">
      <div class="title-container">
        <div class="title-outer">
          <div class="title-inner">
            <h3>
              A Name of a course
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <p>
        A description here.
      </p>
      <div class="teacher-info">
        <div class="teacher-avatar">
          ...
        </div>
        <div class="teacher-name">
          Teacher Name
        </div>
      </div>
    </div>
  </div>
</a>
