<table class="pure-table pure-table-horizontal bs-none dark-blue">
  <thead>
    <tr>
        <th class="bg-near-white"></th>
        <th class="tc v-mid silver fw4">Traditional classroom</th>
        <th class="tc v-mid silver fw4">MOOCs</th>
        <th class="tc v-mid silver fw4">YouTube</th>
        <th class="bg-green white wi-25 tc v-mid">OneRoom</th>
    </tr>
  </thead>
    <tr>
        <th>Live scheduled classes</th>
        <td><img style="width: auto; height: auto;" src="/img/icon-check-gray.png" /></td>
        <td></td>
        <td></td>
        <td class="bg-blue"><img style="width: auto; height: auto;" src="/img/icon-check.png" /></td>
    </tr>
    <tr>
        <th>
          <span class="db fw7">Socialize and learn with others</span>
          <small class="db fw4">(motivate each other and meet new people with your shared interests)</small>
        </th>
        <td><img style="width: auto; height: auto;" src="/img/icon-check-gray.png" /></td>
        <td></td>
        <td></td>
        <td><img style="width: auto; height: auto;" src="/img/icon-check.png" /></td>
    </tr>
    <tr>
        <th>
          <span class="db fw7">Learn from anywhere</span>
          <small class="db fw4">(commute as much or as little as you want)</small>
        </th>
        <td></td>
        <td><img style="width: auto; height: auto;" src="/img/icon-check-gray.png" /></td>
        <td><img style="width: auto; height: auto;" src="/img/icon-check-gray.png" /></td>
        <td><img style="width: auto; height: auto;" src="/img/icon-check.png" /></td>
    </tr>
    <tr>
        <th style="border-bottom-width: 0;">Price</th>
        <td><span class="small">$$$</span></td>
        <td><span class="small">Free - $$$</span></td>
        <td><span class="small">Free</span></td>
        <td><span class="small">$</span></td>
    </tr>
</table>
