  <footer class="b--light-gray bw4 pbl ptm mtl" style="border-top: 1px solid #eee;">
    <div class="center mw7 phm phl-ns pvl fw4 tc">
      <p class="db dib-ns mrs fw1">&copy; 2014-2015 OneRoom</p>
      <a class="link phs" href="/">Home</a>
      <a class="link phs" href="https://angel.co/oneroom/jobs">Jobs</a>
      <a class="link phs" href="mailto:scott@joinoneroom.com">Contact</a>
      <a class="link phs" href="https://twitter.com/intent/user?screen_name=joinoneroom" target="_blank"><img class="img mw2 v-mid" src="/img/twitter-icon.svg"/></a>
       <a class="link phs" href="https://www.facebook.com/joinoneroom" target="_blank"><img class="img mw2 v-mid" src="/img/twitter-icon.svg"/></a>
    </div>
  </footer>
  {% include intercom.html %}
</body>

</html>
