<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A live online video classroom enabling rich interaction and discussion.">
    <meta name="author" content="oneroom">
    <title>OneRoom</title>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,800,300' rel='stylesheet' type='text/css'>
    <link href="/css/oneroom.css" rel="stylesheet">
    <link href="/img/favicon.ico" rel="shortcut icon"/>
  </head>
  <body>
  {% include googletagmanager.html %}
  {% include navbar.html %}
