<div class="tc wi-100 wi-75-ns center mid-gray f4">
  
</div>

<div class="mvxl mhm tc">
  <h3 class="mw-75-ns center f3 fw4 tc silver mbn">Sessions usually go something like this.</h3>
  <h4 class="light-silver fw4">(Sessions are 20 or 40 minutes long)</h4>
  <img src="../img/typical-class.png" style="max-width: 833px;" />
</div>

<div class="mbl mtxl mhm">
  <h3 class="mw-75-ns center f3 fw4 tc silver mbl">Connect with people from anywhere in the world who are passionate about the same topics.</h3>
  <div class="tc">
    <img src="../img/class-location.png" style="max-width: 650px;" />
  </div>
</div>
