<section class="mvxl mhm">
  <h2 class="mw-75-ns center f3 fw7 tc dark-blue mbl">OneRoom connects people who are interested in learning the same stuff.</h2>
  <div class="tc">
    <img src="img/what-is-oneroom.png" style="max-width: 856px;" />
  </div>
</section>

<section class="mvxl mhm">
  <h2 class="mw-75-ns center f3 fw7 tc dark-blue mbl">Sessions usually go something like this.</h2>
  <div class="tc">
    <img src="img/typical-class.png" style="max-width: 833px;" />
    <h4 class="light-silver fw4 mtl">(Sessions are 20 to 45 minutes long)</h4>
  </div>
</section>

<section class="mbl mtxl mhm">
  <h2 class="mw-75-ns center f3 fw7 tc dark-blue mbl">Connect with people from anywhere in the world who are passionate about the same topics.</h2>
  <div class="tc">
    <img src="img/class-location.png" style="max-width: 650px;" />
  </div>
</section>
