<nav class="center mw-100 mw7-ns phm-ns phl-ns fw4 small tc">
    {% if page.title == "how-it-works" %}
      <p class="dib under"><a class="phs" href="#">How it Works</a></p>
    {% else %}
      <p class="dib"><a class="link-blue phs" href="/about.html">How it Works</a></p>
    {% endif %}

    <p class="dib"><a class="link-blue phs" href="http://app.joinoneroom.com/course">Browse Classes</a></p>

    <p class="dib"><a class="link-blue phs" href="http://app.joinoneroom.com">My Classes</a></p>
</nav>
