---
layout: master
title: How it Works
---

{% include smallheader.html %}

<div class="bt b--green center mw-fill-l phm phl-ns pvl bg-cv tc" style="background-image:url(../img/room-background.jpg);background-position: center top; padding-top: 8em;">
  <h1 class="mtn f0 fw7 white ptn mtl mbm">Live, Real-time Video Classes</h1>
  <p class="white f3 mw7 mbl center">Real humans • Bite-sized classes • $10 or less</p>
</div>

<section class="pvx mhn center cf bg-dark-blue white">
  <div class="pbxl" id="overview"></div>
  <h2 class="f2 fw7 tc ttu">Overview</h2>

  <div class="center wi-100 mw8-ns">
    <div class="pure-g">
      <div class="pure-u-1-2 phm">
        <p class="fw1 f3 lh-copy serif">OneRoom gathers curious people from all over the world to learn together in small, short, highly interactive classes.</p>
        <ul class="fw1 f3 lh-copy serif">
          <li>Engage with great teachers in a small class</li>
          <li>Talk face-to-face with other's who share your interests</li>
          <li>Connect with like-minded people, no matter where you happen to be</li>
          <li>Get feedback on your creative work</li>
        </ul>
        <p class="fw1 f3 lh-copy serif">We're here to help you start your project, hone your craft, and build your community.</p>
      </div>
      <div class="pure-u-1-2 phm">
      <p class="fw1 f3 lh-copy serif">It's like a conversation around a table...without the table. But don't take our word for it! It's like this:</p>
      <div class="tc mtm pbx">
        <div class="video-wrapper">
          <iframe width="552" height="414" src="https://www.youtube.com/embed/mdGHr765KfE?showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      </div>
    </div>

    <div class="pure-g tc">
      <div class="pure-u-1 pure-u-md-1-3 phs">
        <img src="../img/icon-group.png" style="max-height: 80px; width: auto;">
        <p class="fw1 f3 lh-copy serif">Interact with real, live humans through your webcam</p>
      </div>
      <div class="pure-u-1 pure-u-md-1-3 phs">
        <img src="../img/icon-love.png" style="max-height: 80px; width: auto;">
        <p class="fw1 f3 lh-copy serif">Meet people who nerd-out about the same topics as you</p>
      </div>
      <div class="pure-u-1 pure-u-md-1-3 phs">
        <img src="../img/icon-clock.png" style="max-height: 80px; width: auto;">
        <p class="fw1 f3 lh-copy serif">Bite-sized classes that fit your schedule</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-near-white">
  <div class="pbxl" id="classroom"></div>
  <h2 class="f2 fw7 tc ttu">What is the classroom like?</h2>

  <div class="wi-100 wi-50-ns tc center lh-copy">
    <p class="fw1 f3">The rooms are like classrooms with movable chairs. Different "modes" support different kinds of interaction.</p>
  </div>

  <div class="center mw8 cf pvm mtx">
    <div class="pure-g">
      <div class="pure-u-1-2 pam">
        <img src="../img/bradybunch.png">
        <h4 class="mbn blue"><a name="discuss">Discuss</a></h4>
        <p class="serif mrm">Engage in small, live discussions with everyone. Be seen, be heard, be inspired.</p>
      </div>
      <div class="pure-u-1-2 pam">
        <img src="../img/workshop.png">
        <h4 class="mbn blue"><a name="workshop">Workshop</a></h4>
        <p class="serif mrm">Focus on student work or inspirational materials for discussion.</p>
      </div>
    </div>

    <div class="pure-g">
      <div class="pure-u-1-2 pam">
        <img src="../img/breakout.png">
        <h4 class="mbn blue"><a name="discuss">Breakout</a></h4>
        <p class="serif mrm">Get to know the other participants in breakout sessions.</p>
      </div>
      <div class="pure-u-1-2 pam">
        <img src="../img/share.png">
        <h4 class="mbn blue"><a name="workshop">Share</a></h4>
        <p class="serif mrm">Share your work and get candid feedback.</p>
      </div>
    </div>
  </div>
</section>

<section class="mvx tc">
  <div class="pbxl" id="format"></div>
  <h2 class="f2 fw7 tc ttu">What is a class like?</h2>

  <div class="wi-100 wi-50-ns tc center lh-copy">
    <p class="fw1 f3">Classes are 20 or 40 minutes long and led by knowledgeable instructors. Students can join from anywhere in the world.</p>
  </div>

  <img src="../img/typical-class.png" class="mvl" style="max-width: 833px;" />
</section>

<section class="pvx bg-near-white">
  <div class="pbxl" id="difference"></div>
  <h2 class="f2 fw7 tc ttu">How is OneRoom different?</h2>
  <div class="wi-100 wi-50-ns tc center lh-copy">
    <p class="fw1 f3">It's the best of taking classes in person with the convenience of online.</p>
  </div>
  <div class="cf mw-100 mw8-ns center tc">
    {% include comparison-table.html %}
  </div>
</section>

<section class="pvx phm bg-lightest-gray">
  <div class="pbxl" id="faq"></div>
  <div class="wi-100 wi-75-ns lh-copy serif center">
    <h2 class="f2 fw7 tc ttu">Wait...I have more questions</h2>
    <p class="fw1 f3 tc">Shoot!</p>
    <article>
      <h3>Will it work for my schedule?</h3>
      <p>Probably! When you sign up for a class, we'll ask for your scheduling preferences, and do our best to accommodate. New classes are being scheduled all the time.</p>
    </article>
    <article>
      <h3>How much does it cost?</h3>
      <p>Prices for multi-session classes vary; 20 minute "micro" classes are $5.</p>
    </article>
    <article>
      <h3>Is it safe for introverts?</h3>
      <p>Yes! It's ok to be quiet. Active listening is also encouraged.</p>
    </article>
    <article>
      <h3>Will I be in over my head?</h3>
      <p>Most classes are open to all, so assume that includes you, no matter your level of experience (unless the class description or title indicate otherwise  - "advanced workshop" or the like). In short, beginners are welcome.</p>
    </article>
    <article>
      <h3>Can I teach?</h3>
      <p>Please <a class="link" href="mailto:info@joinoneroom.com">contact us</a> if you want to teach. We'd love to talk.</p>
    </article>
  </div>
</section>

<section class="bg-aqua-light tc center">
  <div class="phm phl-ns lh-copy f4 ptm pbl br3">
    <p class="f4 f3-ns tc fw1 lh-copy mbn">Interested?</p>
    <div class="tc pam">
      <a class="btn btn--blue pal br3" href="http://app.joinoneroom.com/course">Browse the class catalog</a>
    </div>
</section>
