/*
   BORDER WIDTHS

   LEGEND

   b = border
   w = width

   0-5 = step in sizing scale

*/

.bw0 { border-width: 0; }
.bw1 { border-width: .125rem; }
.bw2 { border-width: .25rem; }
.bw3 { border-width: .5rem; }
.bw4 { border-width: .75rem; }
.bw5 { border-width: 1rem; }

.btw0 { border-top-width: 0; }
.btw1 { border-top-width: .125rem; }
.btw2 { border-top-width: .25rem; }
.btw3 { border-top-width: .5rem; }
.btw4 { border-top-width: .75rem; }
.btw5 { border-top-width: 1rem; }

@include break(not-small) {
  .bw0-ns { border-width: 0; }
  .bw1-ns { border-width: .125rem; }
  .bw2-ns { border-width: .25rem; }
  .bw3-ns { border-width: .5rem; }
  .bw4-ns { border-width: .75rem; }
  .bw5-ns { border-width: 1rem; }
}

@include break(medium) {
  .bw0-m { border-width: 0; }
  .bw1-m { border-width: .125rem; }
  .bw2-m { border-width: .25rem; }
  .bw3-m { border-width: .5rem; }
  .bw4-m { border-width: .75rem; }
  .bw5-m { border-width: 1rem; }
}

@include break(large) {
  .bw0-l { border-width: 0; }
  .bw1-l { border-width: .125rem; }
  .bw2-l { border-width: .25rem; }
  .bw3-l { border-width: .5rem; }
  .bw4-l { border-width: .75rem; }
  .bw5-l { border-width: 1rem; }
}
