/*

   COLORS

*/

// Gray Scale
$black: #000;
$near-black: #111;
$dark-gray:#333;
$mid-gray:#555;
$silver: #999;
$light-silver: #aaa;
$light-gray: #ccc;
$lightest-gray: #eee;
$near-white: #f3f3f3;
$white: #fff;

// One Room Branding Colors
$gray: #b1bab7;
$blue: #116c9f;
$orange: #ee6e43;
$green: #1b9e87;
$aqua: #41bde5;
$dark_blue: #395460;
